.App {
  text-align: center;
}
.app-bg{
  background-color: #4B515D;
}
.card-style{
  color: #4B515D;
  border-radius: 35px;
}
text-style-c {
  color: #1C2331;
}
.form-input{
  border: none;
  height: 24px;
  padding: 9px 9px;
  border: 1px solid #393E46;
  border-radius: 50px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
